* {
    margin:0px;
    padding:0px;
}
nav{
    background: black;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
}
img{
    position: absolute;
    left: 5%;
    top: 5%;
}
.contact{
    background: gray;
    height: 25%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 75%;
}
.icons-contact{
    display: inline;
}

/*Aquí empieza el estilo del menú*/

#header {
    margin:auto;
    width:500px;
    font-family:Arial, Helvetica, sans-serif;
}

ul, ol {
    list-style:none;
}

.nav {
    width:500px;
    margin:0 auto; 
}

.nav > li {
    float:left;
}

.nav li {
    background-color:#000;
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
}

.nav li:hover {
    background-color:#434343;
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
}

#return-filter {
    position: fixed;
    bottom: 5%;
    right: 30%;
}

