nav{
    background: black;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
}

.contact{
    background: gray;
    height: 25%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 75%;
}
.icons-contact{
    display: inline;
}