
#header {
    margin:auto;
    width:500px;
    font-family:Arial, Helvetica, sans-serif;
}
ul, ol {
    list-style:none;
}

.nav {
    width: 29%;

    margin-top: -43px;
    margin-left: 70%
}

.nav > li {
    float:left;
}

.nav li {
    background-color:#000;
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
}

.nav li:hover {
    background-color:#434343;
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
}
nav{
    background: black;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
 }

 #browser{
    border-radius: 10px;
    width: 52%;
    height: 31px;
    padding-left: 5%;
    margin-left: 10%;
    padding-top: 2%;

 }
 
.header{
    background: red;
}
 
