
@font-face {
    font-family: Potra;
    font-style: normal;
    font-weight: normal;
    src: url(../src/assets/fonts/Potra.ttf);
    color: antiquewhite;
  }


header{
  text-align: center;
background: #50576a;
width: 100%;
height: auto;
padding: 3%;
}

section{
  background: rgba(24,30,44,1);
background: -moz-linear-gradient(-45deg, rgba(24,30,44,1) 0%, rgba(84,223,218,1) 100%);
/*background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(24,30,44,1)), color-stop(100%, rgba(84,223,218,1)));*/
background: -webkit-linear-gradient(-45deg, rgba(24,30,44,1) 0%, rgba(84,223,218,1) 100%);
background: -o-linear-gradient(-45deg, rgba(24,30,44,1) 0%, rgba(84,223,218,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(24,30,44,1) 0%, rgba(84,223,218,1) 100%);
background: linear-gradient(135deg, rgba(24,30,44,1) 0%, rgba(84,223,218,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#181e2c', endColorstr='#54dfda', GradientType=1 );
}
span{
  text-align: center;
  }

.logo{
  width: 70%;
  height:auto;
}

.search{
  text-align: center;
background: #848484;
opacity: .5;
}

.container {
  box-sizing: border-box;
  width: 50%;
}

#top {
  display: none;
}
#new {
  display: none;
}


