body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #585858;
  }  
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

.filter-movie{
    text-align: center;
}
.general-filter{
    text-align: center;
    display: block;
    width: 70%;
    height: 25px;
    margin-bottom: 20px;
    margin: auto;

}
.btn-mood {
    cursor: pointer;
    min-width: 70px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #f5f5f5;
    border: 1px solid #000;
    color: #000;
    border-radius: 4px;
    font-size: 1em;
    background-repeat: no-repeat;
    background-position: 1rem center;
    background-size: 30px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    font-size: 1rem;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    max-width: 150px;
}