*{
    margin: 0; 
}

body {
    background-color: #50c3c6;
}

header{
    width: 100%;
    display: block; 
}

#search {
    width: 40%; 
    float: right;
    margin-top: 10px; 
    margin-right: 10px;
}

#logo2 {
    width: 40%; 
    margin-top: 0px; 
    margin-left: 10px;
    float: left;
}

#card-movie {
    width: 85%;
    margin: 0 auto;
    background-color: pink;
}

.movie-container{
    width: 31%;
    display: inline-block;
    margin: 0 1% 2%;
    /* background-color: red; */
    padding-top: 0px;
    margin-top: 0px;
}

.background-poster{
    width: 100%;
    background-position: center;
    background-size: cover;
}

#posters {
    width: 100%;
    position: relative;
}

#title {
    font-size: 0.7em;
    color: blue;
    height: 35px; 
    text-align: center;
}

#menu {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 10px; 
    margin-top: 10px; 
    padding: 0px; 
    padding-left: 2%;
}

.buttons-menu{
    width: 21%;
    display: inline-block;
    margin: 0px 1% 1%;
}

.first-button{
    width: 21%;
    margin: 0px 1% 1%;
}

.img-button {
    width: 100%;
}

