html,body{
    margin:0px;
}
.newLogo{
    display: none;
}
.logo{
    padding-top: 15px;
    margin-left: 5%;
    width: 40px;
    height: 50px;
}
.appName{
    display: none;
}
.firstMessage{
    background-color: #2a3440;
    color: white;
    text-align: center;
    font-size: 15px;
    padding-bottom: 3px;
    height: 90px;
    padding-top: 9px;

}
.imagen-top{
    width:100%;
    height: 33em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.image-pulp-fiction{
    background-image: url(https://ae01.alicdn.com/kf/HTB1fJlmPFXXXXXgapXXq6xXFXXXa/Custom-Canvas-Wall-Decals-Pulp-Fiction-Poster-Pulp-Fiction-Wallpaper-Uma-Thurman-Wall-Stickers-Mural-Christmas.jpg_640x640.jpg);

}
.image-the-shining{
    background-image: url(https://http2.mlstatic.com/poster-the-shining-el-resplandor-tamano-35x50-cm-D_NQ_NP_574115-MLA25131008966_102016-F.jpg);


}
.image-mad-max{
    background-image: url(https://imagessl2.casadellibro.com/m/ig/2/1271422.jpg);

}
.image-trainspotting{
    background-image: url(https://pics.filmaffinity.com/trainspotting-196178076-large.jpg);

}
.image-the-fight-club{
    background-image: url(https://m.media-amazon.com/images/M/MV5BMjJmYTNkNmItYjYyZC00MGUxLWJhNWMtZDY4Nzc1MDAwMzU5XkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_.jpg);

}

nav i{
    color: gray;
    position: absolute;
    margin-top: 22px;
    margin-left: 6%;
    z-index: 10;
    }
.plot{
    float: right;
    position: absolute;
    width: 38%;
    margin-left: 52%;
    text-align: justify;
    font-size: 3.6vw;
    z-index: 5;
    margin-top: 5px;

}
    .movie-card{
        background-color: white;
        border-style: outset;
        border-radius: 10px;
        color: white;
        margin: 1%;
        width: 97%;

        text-align: center;
        font-size: 3.5vw;
        display: inline-block;
        height: 37em;
        background-color: #2a3440
       }
.title{
    font-size: 6vw;
    margin-bottom: 5px;
}
.poster{
    width: 50%;
    float: left;
    height: 18em;
    margin-left: 2%;
    margin-top: 3px;
}
.genremov{
    text-align: center;
    font-size: 12px;
    margin-bottom: 1px;
    margin-bottom: 5px;
    font-family: Laila;
}
.dir{
    font-size: 12px;
    margin-left: 2px;
    text-align: center;
    font-family: Laila;
    width: 180px;
    margin: 0 auto;
}
.rate{
    font-family: Laila;
}
.award{
    width: 300px;
    font-family: Laila;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    font-size: 12px;
}

#header {
    margin:auto;
    width:500px;
    font-family:Arial, Helvetica, sans-serif;
}
ul, ol {
    list-style:none;
}

.nav {
    width: 100%;
    margin: 0px;
    margin-left: 0%;
    padding: 0px;
    display: block;
    padding-top: 10px
}

.nav > li {
    float:left;
}

.nav li {
    background-color: #000;
    color: #fff;
    text-decoration: none;
    display: block;
    width: 25%;
    height: 3em;
    text-align: center;
    padding-top: 3%;
}

.nav li:hover {
    background-color:#434343;
}

.nav li ul {
    display: none;
    position: absolute;

    padding: 0px;
    margin-left: 18%;
    z-index: 6;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
    right: 37%;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
}
nav{
    width: 100%;
    margin: 0px;
    margin-left: 0%;
    padding: 0px;
    display: block;
    position: relative;
    z-index: 4;
    height: 7em;
    background-color: #2a3440;

 }

 #browser{
    border-radius: 7px;
    width: 77%;
    height: 35px;
    padding-left: 8%;
    margin-left: 3%;
    margin-top: 12px;
    position: absolute;
    z-index: 5

 }
 .carousel{
     position: absolute;
     z-index: 3;
 }
 ul, ol {
    list-style:none;
}

.nav {
    width: 100%;
    margin:0; 
}

.nav > li {
    float:left;
}

.nav li {
    background-color:#000;
    color:#fff;
    text-decoration:none;
    display:block;
    width: 125px;
}
.nav li:hover {
    background-color:#434343;
}

.nav li ul {
    display:none;
    position:absolute;
    padding: 15px;

    margin-left: 71%;
    z-index: 6;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
}

.style-nav{
    width: 122%;
    margin-left: 62%;
    position: fixed;
}


@media (min-width: 1025px){

body{
    background-color: #2a3440;
}

.firstMessage{
    background-color: #2a3440;
    color: white;
    text-align: center;
    font-size: 1.8vw;
    padding-bottom: 20px;
    height: 160px;
    padding-top: 70px;
}
.movie-card{
    
    border-style: outset;
    border-radius: 10px;
    color: white;
    margin: 1%;
    width: 31%;
    height: 16em;
    text-align: center;
    font-size: 3.5vw;
    display: inline-block;
    background-color: #2a3440;
    margin-top: 1%;
    margin-bottom: 1%;
 }

.nav {
    width:100%;
    margin:0;
    margin-top: 1%;
}

.nav li {
    padding:10px 15px;
    width: 673px;
}

.nav li ul li {
    position:relative;
    right: 45%;
    

}

.nav li ul li ul {
    right:-140px;
    top:0px;
}

.plot{
    float: right;
    position: absolute;
    width: 26.5%;
    margin-left: 1.5%;
    text-align: justify;
    font-size: 1.5vw;
    z-index: 5;
    margin-top: 380px;

}

.title{
    margin-top: 10px;
    font-size: 2vw;
    text-align: center;
    font-family: Laila;
    font-weight: bold;
}
.genremov{
    text-align: center;
    font-size: 1.5vw;
    margin-bottom: 2px;
    font-family: Laila;
    
}
.dir{
    text-align: center;
    font-size: 1.5vw;
    margin-bottom: 23px; 
    font-family: Laila;  
}
.poster{
    height: 8em;
    width: 80%;
    margin-left: 10%;
    margin-top: -16px;
    float: center;
}

#browser{
    
    width: 60%;
    height: 35px;
    padding-left: 8%;
    margin-left: 11%;
    margin-top: 45px;
    z-index: 5;
 }
 .fas{
    margin-left: 68%;
    margin-top: 55px;
 }
.logo{
    display: none;
}
.newLogo{
    display: block;
    display: inline-block;
    width: 50px;
    height: 50px;


}

.appName{
    margin-left: 2%;
   padding-top: 2.5%;
    font-size: 3.5vw;
    font-family: Laila;
    color: white;
    width: 300px;
    display: inline-block;
}
}


