* {
  background-color: black;
}

@font-face {
    font-family: Potra;
    font-style: normal;
    font-weight: normal;
    src: url(../src/assets/fonts/Potra.ttf);
    color: antiquewhite;
  }


header{
  text-align: center;
background: #50576a;
width: 100%;
height: auto;
padding: 3%;
}

.logo{
  width: 70%;
  height:auto;
}

.container {
  box-sizing: border-box;
  width: 50%;
}