header{
  text-align: center;
  background: #50576a;
  padding: 3%;
 display: inline-block;
 vertical-align: top;
 position: fixed;
 top: 0;
 left: 0;
}

body{
  background: rgba(24,30,44,1);
background: -moz-linear-gradient(-45deg, rgba(24,30,44,1) 0%, rgba(84,223,218,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(24,30,44,1)), color-stop(100%, rgba(84,223,218,1)));
background: -webkit-linear-gradient(-45deg, rgba(24,30,44,1) 0%, rgba(84,223,218,1) 100%);
background: -o-linear-gradient(-45deg, rgba(24,30,44,1) 0%, rgba(84,223,218,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(24,30,44,1) 0%, rgba(84,223,218,1) 100%);
background: linear-gradient(135deg, rgba(24,30,44,1) 0%, rgba(84,223,218,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#181e2c', endColorstr='#54dfda', GradientType=1 );
background-attachment: fixed;
}
nav{
  margin-left: 6%;
  margin-block-start: 26%;
  position: fixed;
  }

  section{
    font-family: sans-serif;
    color: white;
    text-align: center;
    padding-top: 60px;
  }

  img{
    width: 180px;
    margin-top: 5px;
    border-radius: 20px;
  }

footer{
  background: #50576a;
  width: auto;
  height: 100%;
}

.logo{
  width: 70%;
  height:auto;
}

.search{
  text-align: center;
opacity: 0.55;
width: 90%;
border-radius: 5%;
    z-index: 100;    z-index: 100;
}

.fixed-bottom {
    position: fixed;
    right: 0px;
    bottom: 0;
    left: 0px;
    z-index: 1030;
    background-color: #50576a;
    text-align: center;
    height: 51px;
}

.data{
  position: relative;
  background-image: url(../src/assets/images/cajita.png);
  background-size: cover;
  background-position: center center;
  width: 280px;
  height: 420px;
  color: rgb(244, 244, 248);
  display: inline-block;
  padding: 1%;
  margin: 3%;
  border-radius: 10%;

}

.container {
  box-sizing: border-box;
  width: 50%;
}

.btn{
    background: #50576a;
}

.nav__item{
  color: white;
      text-decoration: blink;
      font-family: sans-serif;
      padding: 10%;
      font-size: 26px;
      vertical-align: bottom;
}

#top {
  display: none;
}
#new {
  display: none;
}
